
.menucontainer
{
	display:block;
	margin:auto;					
	text-align:center;
	width:80%;
	position:relative;
	
}
.menuitem
{
	display:inline-block;
	font:bold 18pt arial;
	width:17%;
	vertical-align:top;
	cursor:pointer;
	position:relative;
	
}
.subcontainer
{
	display:none;
	position:absolute;
	width:100%;
	
}

.submenuitem
{
	font:15pt;
}
.header
{
	text-align: center;
	font:bold 18pt arial;
	color: red;
}
h3
{
	color: lightblue;
	margin-top: 5%;
}
h2
{
	color: green;
}
a:link
{
	color:white;
	
}
a:visited
{
	color:white;
	
}
a:hover
{
	color:white;
	
}
h3
{
	text-align: center;
			
}
body
{
	background-color: black;
	color: white;
}
.backgroundimg
{
	position: absolute; 
	top: 0px;
	left: 0px;
	z-index: -1;
	height: 15%;
}
.mainpage
{
	
	position: absolute;
	margin-top: 10%;
	margin-left: 5%;
	border: 3px solid red;
}
div > a
{
	display: block;
}
.maincontent
{
	text-align: center;
	padding: 5%;
}
div > span
{
	display: block;
	margin-top: 5%;
	
}
/* *
{
	border: 1px solid white;
} */